body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

.hero img {
    width: 200px;
    margin-bottom: 15px;
}

h1 {
    font-size: 22px;
    color: yellow;
}

.color-buttons {
    margin: 20px 0;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.red { background: red; color: white; }
.green { background: green; color: white; }
.violet { background: purple; color: white; }

.highlight {
    font-size: 18px;
    color: #00ff88;
}

.join-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #00cc66;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.proof img {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.7;
  }
